<!-- Interests Section -->
<section id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="interests-intro">Beyond work, I explore a variety of topics mostly around arts, sports and nature</p>
        <ul class="interests-tags">
          <li>Dance</li>
          <li>Dog Training</li>
          <li>Volleyball</li>
          <li>Basketball</li>
          <li>Photography</li>
          <li>Screen Printing</li>
        </ul>
      </div>
    </div>
  </div>
</section>
