<!-- Portfolio Modals -->
{% for post in site.posts %}
  {% case post.modal-id %}
  {% when 1 %}
    {% include modals/oceanwise.html post=post %}
  {% when 2 %}
    {% include modals/disaster-impact-intelligence.html post=post %}
  {% when 4 %}
    {% include modals/f5-scan.html post=post %}
  {% when 5 %}
    {% include modals/conectadora.html post=post %}
  {% when 6 %}
    {% include modals/effective-profiles.html post=post %}
  {% else %}
    {% include modals/default.html post=post %}
  {% endcase %}
{% endfor %}
